.container {
    margin: 0 auto;
    padding-top: 7em;
    width: 34em;
}

.first_name_li {
    margin-right: 0.25em;
    float: left;
    width: calc(50% - 0.25em);
}

.second_name_li {
    margin-left: 0.25em;
    float: left;
    width: calc(50% - 0.25em);
}

#ahaa_container {
    padding-top: 2.2em;
    text-align: center;
}