{% extends "base.html" %}

{% load static %}

{% block title %}VideoFree.com | Footage{% endblock %}

{% block description %}{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'footage/detail.css' %}">
{% endblock  %}

{% block content %}
    <div class="left_content">
        <video autoplay muted loop>
            <source src="{% static 'assets/video/Frogatt edge/flyby 03 1080p50.mp4' %}" type="video/mp4">
        </video>
        <div class="user_detail">
            <div class="user_textimg">
                <img src="" alt="">
                <h4></h4>
                <h4></h4>
            </div>
            <div class="user_work">

            </div>
        </div>
    </div>
    <div class="right_content">
        <div class="footage_credit">
            <h1>Credit</h1>
        </div>
        <div class="footage_download">
            <div class="download_container">
                <a href="" class="download_button"></a>
                <div class="download_size"></div>
            </div>
        </div>
        <div class="footage_details">
            <h1>File Details</h1>
        </div>
    </div>
{% endblock %}