{% extends "base.html" %}

{% load static %}

{% block title %}{{ footage_file.title }} | VideoFree.com{% endblock %}

{% block description %}{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'footage/detail.css' %}">
{% endblock  %}

{% block content %}
    <div class="left_content">
        <div class="container left">
            <div class="title">
                <h1>{{ footage_file.title }}</h1>
            </div>
            <div class="video_container">
                <video autoplay muted loop>
                    <source src="{{ footage_file.footage_file.url }}" type="video/mp4">
                </video>
            </div>
            <div class="user_detail">
                <div>
                    <div class="user_img">
                        <img src="{% static 'assets/images/profile-placeholder.jpg' %}" alt="Profile Picture">
                    </div>
                    <div class="user_text">
                        <h4>Name: {{ footage_file.user }}</h4>
                        <h4>Job</h4>
                    </div>
                    <!-- <div class="user_work">
        
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <div class="right_content">
        <div class="container right">
            <div class="footage_credit">
                <h1>Credit Placeholder</h1>
            </div>
            <ul class="footage_download">
                <li class="download_container">
                    <a href="{{ footage_file.footage_file.url }}" class="download_button" download>Download</a>
                    <div class="download_size">File Size: {{ footage_file_size }}</div>
                </li>
                <li class="download_container">
                    <a href="{{ footage_file.footage_file.url }}" class="download_button" download>Download</a>
                    <div class="download_size">File Size: {{ footage_file_size }}</div>
                </li>
            </ul>
            <div class="footage_details">
                <h1>File Details Placeholder</h1>
                <p>{{ footage_file.description }}</p>
            </div>
        </div>
    </div>
{% endblock %}