{% extends "base.html" %}

{% load static %}

{% block title %}VideoFree.com | Upload{% endblock %}

{% block description %}{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'footage/upload.css' %}">
{% endblock  %}

{% block content %}
    <div id="form_container">
        <h1>Upload New Footage</h1>
        <form id="generic_form" action="{% url 'footage:upload' %}" method="post">
            {% csrf_token %}
            {{ signup_form.non_field_errors }}
            <ul>
                {% for field in upload_file_form %}
                    <li class="input_li">
                        {{ field }}
                        {{ field.errors }}
                    </li>
                {% endfor %}
                <li class="submit_li">
                    <input type="submit" value="Upload Footage" class="submit">
                </li>
            </ul>
        </form>
    </div>
{% endblock %}