{% extends "base.html" %}

{% load static %}

{% block title %}VideoFree.com | Login{% endblock %}

{% block description %}{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'user/login.css' %}">
{% endblock  %}

{% block content %}
    <div id="form_container">
        <h1>Login to your account</h1>
        <form id="generic_form" action="{% url 'user:login' %}" method="post">
            {% csrf_token %}
            {{ login_form.non_field_errors }}
            <ul>
                {% for field in login_form %}
                    {% if field.errors %}
                            <li class="input_li errored_li">
                        {% else %}
                            <li class="input_li">
                        {% endif %}
                            {{ field }}
                            {% for error in field.errors %}
                                <p class="error">
                                    {{ error }}
                                </p>
                            {% endfor %}
                        </li>
                {% endfor %}
                <li class="submit_li">
                    <input type="submit" value="Login" class="submit">
                </li>
            </ul>
        </form>
    </div>
{% endblock %}