{% extends "base.html" %}

{% load static %}

{% block title %}VideoFree.com | Signup{% endblock %}

{% block description %}{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'user/signup.css' %}">
{% endblock  %}

{% block content %}
    <div id="signup_container">
        <h1>Create New Account</h1>
        <form id="signup_form" action="{% url 'user:sign-up' %}" method="post">
            {% csrf_token %}
            <ul>
                {% for field in signup_form %}
                    {% if field.name == 'first_name' %}
                        <li class="input_li first_name_li">
                            {{ field }}
                        </li>
                    {% elif field.name == 'second_name' %}
                        <li class="input_li second_name_li">
                            {{ field }}
                        </li>
                    {% else %}
                        <li class="input_li">
                            {{ field }}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <input type="submit" value="Create your free account" class="submit">
        </form>
    </div>
{% endblock %}