
.topbar {
    height: 4em;
    background: black;
}

.video_container {
    position: absolute;
    top: 4em;
    width: 100%;
}

video {
    object-fit: cover;
    pointer-events: none;
    user-select: none;
    height: calc((100vh - 4em) / 3);
    min-height: 200px;
    width: 100%;
}