
.topbar {
    height: 4em;
    background: black;
}

.video_container {
    position: absolute;
    top: 4em;
    width: 100%;
}

.video_li {
    min-height: 300px;
    height: 60%;
}

video {
    object-fit: cover;
    pointer-events: none;
    user-select: none;
    height: 100%;
    width: 100%;
}