<!doctype html>
<html class="no-js" lang="">

<head>
    {% load static %}
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{% static 'normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
    {% block stylesheet %}{% endblock  %}

    {% block javascript %}{% endblock  %}
</head>
    <body>
        <div class="topbar"></div>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
