{% extends "base.html" %}

{% load static %}

{% block title %}VideoFree.com{% endblock %}

{% block description %}{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
{% endblock  %}

{% block content %}
    <div class="video_container">
        <ul class="video_ul">
            <li class="video_li">
                <video autoplay muted loop>
                    <source src="{% static 'assets/video/Frogatt edge/flyby 03 1080p50.mp4' %}" type="video/mp4">
                </video>
            </li>
            <li class="video_li">
                <video autoplay muted loop>
                    <source src="{% static 'assets/video/Misty Froest/1080p 50mbps.mp4' %}" type="video/mp4">
                </video>
            </li>
            <li class="video_li">
                <video autoplay muted loop>
                    <source src="{% static 'assets/video/Frogatt edge/flyby 05 1080p50.mp4' %}" type="video/mp4">
                </video>
            </li>
        </ul>
    </div>
{% endblock %}