{% extends "base.html" %}

{% load static %}

{% block title %}VideoFree.com{% endblock %}

{% block description %}{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
{% endblock  %}

{% block content %}
    <div class="video_container">
        <video autoplay muted loop id="video">
            <source src="{% static 'assets/video/Frontpage_stack1.mp4' %}" type="video/mp4">
        </video>
        <video autoplay muted loop id="video">
            <source src="{% static 'assets/video/Frontpage_stack2.mp4' %}" type="video/mp4">
        </video>
        <video autoplay muted loop id="video">
            <source src="{% static 'assets/video/Frontpage_stack1.mp4' %}" type="video/mp4">
        </video>
    </div>

    
{% endblock %}